.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.files-items-container {
  margin-top: 0.5rem;
  height: 20rem;
  overflow: auto;
  
}

.file-item-container {
  display: flex;
}

mat-icon {
  padding-top: 1rem
}
